body {
  background-color: green;
}

:global {
  h1 {
    font-size: 25px;
  }

  .container-1 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 300px;
  }
}
